/* CSS Selectors go here */

h1 {
  display: block;
  font-size: 2em;
  font-weight: bold;
}

button {
  margin: 10px;
  padding: 10px;
  cursor: pointer;
  background-color: #3882f6;
  color: #f9faf8;
}

body {
  height: 100vh;
  margin: 0;
  font-family: Roboto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header,
.footer {
  display: flex;
  padding: 16px;
}

.header {
  justify-content: space-between;
  background-color: #1f2937;
  color: #f9faf8;
  size: 24px;
  padding: 12px 48px;
  justify-items: center;
}

.footer {
  background: #1f2937;
  justify-content: center;
}

ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 16px
}

.content-1 {
  background-color: #1f2937;
  color: #f9faf8;
  padding: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.content-2 {
  background-color: #f9faf8;
  padding: 50px;
  text-align: center;
  gap: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content-3 {
  background-color: #e5e7eb;
  padding: 50px;
  display: flex;
  justify-content: center;
}

.content-4 {
  background-color: #f9faf8;
  padding: 50px;
  display: flex;
  justify-content: center;
}

#blue-container {
  background-color: #3882f6;
  color: #f9faf8;
  border-radius: 15px;
  justify-content: center;
  justify-items: center;
  padding: 20px;
  width: 100%;
}

#img1 {
  width: 70px;
}

#img2 {
  padding: 5px;
  width: 350px;
}

.box {
  display: flex;
  flex-direction: row;
  width: 100px;
  height: 100px;
}

.container {
  display: flex;
  justify-content: center;
  gap: 52px;
}

.info,
.box {
  margin-bottom: 10px;
}

.title {
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
}

#quote {
  font-style: italic;
  font-size: 36px;
}

#quoter {
  font-weight: bold;
  font-size: 36px;
}

.img3 {
  display: flex;
  max-height: 100%;
  max-width: 100%;
  border: 3px solid #3882f6;
  border-radius: 15px;
}

.content-4 button {
  background-color: #3882f6;
  border: #f9faf8 solid 1px;
  border-radius: 25px;
  width: 100px;
}

.content-1 button {
  background-color: #3882f6;
  border: none;
  border-radius: 25px;
  width: 100px;
}
