/* CSS Selectors go here */

text {
  font-family: Roboto;
}

h1 {
  display: block;
  font-size: 2em;
  font-weight: bold;
}

button {
  margin: 10px;
  padding: 10px;
  cursor: pointer;
  background-color: lightpink;
  color: #f9faf8;
}

body {
  height: 100vh;
  margin: 0%;
  font-family: Roboto;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: #f9faf8;
  background-color: violet;
  padding: 20px;
}

.footer {
  display: flex;
  justify-content: center;
  color: #f9faf8;
  background: violet;
  padding: 20px;
}

ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 16px
}

.content-1 {
  background-color: violet;
  color: #f9faf8;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 100px;
}

.content-2 {
  background-color: #f9faf8;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 100px;
  gap: 100px;
}

.content-3 {
  background-color: lightslategray;
  display: flex;
  justify-content: center;
  padding: 100px;
}

.content-4 {
  background-color: #f9faf8;
  display: flex;
  justify-content: center;
  padding: 100px;
}

#blue-container {
  background-color: violet;
  color: #f9faf8;
  border-radius: 10px;
  width: 900px;
  height: 120px;
  margin: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#img1 {
  width: 50px;
}

#img2 {
  width: 350px;
}

.img3 {
  display: flex;
  max-height: 100%;
  max-width: 100%;
  border: 3px solid violet;
  border-radius: 15px;
}

.box {
  display: flex;
  flex-direction: row;
  width: 100px;
  height: 100px;
}

.container {
  display: flex;
  justify-content: center;
  gap: 66px;
}

.info,
.box {
  margin-bottom: 10px;
}

.title {
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
}

#quote {
  font-style: italic;
  font-size: 36px;
}

#quoter {
  font-weight: bold;
  font-size: 36px;
}

.content-1 button {
  border-radius: 15px;
  border: 0px;
  width: 100px;
}

.content-4 button {
  border: #f9faf8 solid 2px;
  border-radius: 15px;
  width: 100px;
}

.container-text{
  display: flex;
  flex-direction: column;
}